.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menus_container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%
}

.menus_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: 1rem 0;
}

.selector {
    width: 12rem;
    margin: 0 5rem;
}

.submit_btn {
    background-color: blue;
}

.timebox {
    width: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.time_selector {
    width: 5rem;
}

.parent_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;
}